body {
    background: rgb(237,237,237);
    background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(120,120,120,1) 2000%);
    padding: 25px 0px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.imagem{
    width: 100%;
    margin: 50px;
}

.foto {
    border: 4px solid #fff;
}

.folha-curriculo{
    background-color: #303539;
    padding: 25px;
}

.subtitulo{
    margin-bottom: 20px;
    margin-left: 15px
}

.informacoes {
    padding-bottom: 15px;
    padding-left: 15px;
}

.cabecalho {
    background: rgb(69,26,82);
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(69,26,82,1) 0%, rgba(217,30,156,1) 100%)
    
}

.coluna {
    padding: 10px;
    border: 1px solid rgba(217,30,156,1);
    border-radius: 10px;
    margin: 15px 0px;
}

.barra-de-progresso {
    background: linear-gradient(90deg, rgba(69,26,82,1) 0%, rgba(217,30,156,1) 100%)
}